.Head{
    height: 100vh;
    width: 284px;
    padding: 15px 30px;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
    border: 0.5rem red solid;
    background-color: orange;
}

.Head div, .Head h1, .Head nav, .Head ul, .Head li, .Head a{
    background-color: inherit;
    margin-top: 30px;
}